<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <a href="/">
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </a>
    </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies/create" method="POST">
            <div>
                <label for="title">Title </label>
                <p><input type="text" name="title" id="" value="<%= locals.old && (old.title && old.title ) %>"></p>
                <small class="text-danger">
                    <%= locals.errors && (errors.title && errors.title.msg) %>
                </small>
            </div>
            <div>
                <label for="rating">Rating </label>
                <p><input type="number" name="rating" id="" value="<%= locals.old && (old.rating && old.rating ) %>"> </p>
                <small class="text-danger">
                    <%= locals.errors && (errors.rating && errors.rating.msg) %>
                </small>
            </div>
            <div>
                <label for="awards">Awards </label>
                <p><input type="number" name="awards" id="" value="<%= locals.old && (old.awards && old.awards ) %>"></p>
                <small class="text-danger">
                    <%= locals.errors && (errors.awards && errors.awards.msg) %>
                </small>
            </div>
            <div>
                <label for="release_date">Release date </label>
                <p><input type="date" name="release_date" id="" value="<%= locals.old && (old.release_date && old.release_date ) %>"></p>
                <small class="text-danger">
                    <%= locals.errors && (errors.release_date && errors.release_date.msg) %>
                </small>
            </div>
            <div>
                <label for="length">Length </label>
                <p><input type="number" name="length" id="" value="<%= locals.old && (old.length && old.length ) %>"></p>
                <small class="text-danger">
                    <%= locals.errors && (errors.length && errors.length.msg) %>
                </small>
            </div>
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>

                <a class="botonVolver" href="/movies">Listado de Películas</a>
            </p>
        </form>
    </section>

</body>

</html>